/* Style/style6.css */

body {
    background-color: #f0f0f0; /* Fondo claro */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

.container {
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}

.table-container {
    overflow-x: auto;
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-custom thead th {
    background-color: #77579b;
    color: #fff;
    padding: 12px;
    text-align: left;
    border: none;
}

.table-custom tbody td {
    padding: 12px;
    border-top: 1px solid #dee2e6;
}

.table-custom tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table-custom tbody tr:hover {
    background-color: #e9ecef;
}

.btn-primary {
    background-color: #37185a;
    border-color: #37185a;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #37185a;
    border-color: #37185a;
}

.modal-content {
    border-radius: 8px;
}

.modal-header {
    background-color: #6c757d;
    color: #fff;
    border-bottom: none;
}

.modal-title {
    margin: 0;
}

.btn-close {
    background-color: #fff;
    border: none;
}

.btn-close:hover {
    background-color: #e9ecef;
}

.btn-danger {
    background-color: #d3a5f1;
    border-color: #d3a5f1;
}

.btn-danger:hover {
    background-color: #d3a5f1;
    border-color: #d3a5f1;
}

.input-group .form-control {
    border-right: none;
}

.input-group .btn-outline-secondary {
    border-left: none;
}

input:required {
    box-shadow: none;
}

@media (max-width: 768px) {
    .table-custom thead {
        display: none;
    }

    .table-custom, .table-custom tbody, .table-custom tr, .table-custom td {
        display: block;
        width: 100%;
    }

    .table-custom tr {
        margin-bottom: 15px;
    }

    .table-custom td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table-custom td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 10px);
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }
}
