body {
    margin: 0;
    padding: 0;
    background-image: url('/Resource/Images/fondo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #000000;
    font-family: Baskerville, serif;
}



.deportes {
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.deportes h1 {
    margin: 0;
    font-size: 36px;
    color: #1565c0;
    font-family: Baskerville, serif;
}

#btnlogout {
    background-color: #1565c0; 
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#btnlogout:hover {
    background-color: #0d47a1; 
}
