body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-acuarela-abstracta-acuarela-pintada-mano_23-2149009952.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #a377af;
    text-align: center;
    color: white;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #9482d4;
    color: white;
    border: 1px solid #9482d4;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: 1px solid #6c757d;
}

.btn-danger {
    align-content: center;
    background-color: #dc3545;
    color: white;
    border: 1px solid #dc3545;
}

.btn:hover {
    opacity: 0.8;
}

.alert {
    margin-top: 10px;
    display: none;
}
