<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/Style/style3.css">
    <link rel="icon" href="/Resource/icons/logo.png">


    <title>INICIO</title>
</head>
<body>
    <div class="deporte">
        <h1>Deportes</h1>

        
        <a href="/Templates/Recuperarcontraseña.html" class="text-muted custom-link">¿Olvidaste tu contraseña?</a>

        <a href="/Templates/eliminarusuario.html" class="text-muted custom-link">¿Desea eliminar el su usuario?</a>


    </div>

    
    <button type="button" id="btnlogout">Cerrar Sesión</button>

    <script type="module" src="/Controller/home.js"></script>
    
    
</body>
</html>